body {
  width: 300px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

/* Additional styles for the header */
.header {
  background: linear-gradient(to bottom, #191970 50%, transparent 50%); /* Gradient from blue to transparent */
  padding: 20px; /* Adjust padding as needed */
  text-align: center;
}

.header img {
  width: 100px; /* Adjust image size as needed */
  height: 100px; /* Adjust image size as needed */
  border-radius: 50%; /* Create a circular frame */
  border: 3px solid #191970; /* Add a border color */
  position: relative;
  z-index: 1; /* Ensures the image is on top of the background */
}

/* Additional styles for centering */
#settings {
  text-align: center; /* Center text within the settings div */
  margin: 0 auto; /* Center the settings div horizontally */
}

.color-buttons {
  display: flex;
  justify-content: center; /* Center the color buttons within the flex container */
}

.color-option {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: none;
  outline: none;
}

.color-option.selected {
  border: 3px solid #000; /* Change to your desired outline color */
  box-sizing: border-box; /* Ensure the border width doesn't increase the button's dimensions */
}

.quote-list {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  overflow: auto;
  max-height: 300px;
}

/* Removed .color-picker and .example-button */

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
}

button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005bbb;
}

/* Add this CSS to your extension's CSS file */
.verse-number-box {
  display: inline-block;
  background-color: blue;
  color: white;
  padding: 4px 8px; /* Adjust padding as needed */
  margin-right: 8px; /* Add some space after each box */
  border-radius: 4px; /* Optional: Add rounded corners */
}

.verse-number {
  font-weight: bold;
  font-size: 14px; /* Adjust font size as needed */
}

/* Rounded toggle button styles */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
